@import './vars.scss';

body{
    background-color: #fff;
    input[type=checkbox]{
      visibility: hidden;
    }
    .icon{
        width: 20px;
        
    }
    header{
        display: flex;
        padding-left: 20vw;
        h1 {
            color: $primaryc;
            font-family: 'Arista';
            margin:0;
        }
        .search {
            display: flex;
            justify-content: space-between;
            margin-left: 2vw;
            padding: .05em .5em;
            border: $borderlight;
            border-radius: 20px;
            width: 30vw;
            vertical-align: middle;
            &:focus-within{
                border: $borderblue;
                transition: $simpletrans;
                .icon{
                    path{
                        fill: $primaryc;
                    }
                }
                .btn-day{
                    visibility: visible;
                    border: none;
                    border-radius: 20px;
                    color:white;
                    background-color: $primaryc;
                    transition: $simpletrans;
                    &:hover{
                        background-color: $hoverc;
                        transition: background-color ease .2s;
                    }
                }
            }
            label{
                display: inline-block;
                vertical-align: middle;
                .icon{
                    margin-top: 25%;
                }
            }
            input{
                border: none;
                width: 80%;
            }
            .btn-day{
                visibility: hidden;
            }
        }
    }
  main{
      margin:5% 18%;
      border: $borderlight;
      .heading{
          display: flex;
          justify-content: space-between;
          .iconcont{
              vertical-align: middle;
              .icon{
                  vertical-align: middle;
                  transform: rotate(90deg);
              }
          }
          .filter{
            display:block;
            position:relative;
            right:30vw;
            bottom:0;
            border: $borderlight;
            background-color: #000;
            padding: 1em;
            visibility: hidden;
          }
          #openfilters:checked + .filter {
            visibility: visible;
          }
      }    
      .tweetcard{
        border: $borderlight;
        display:grid;
        grid-template-rows: 5vw 10vw 10vw;
        .upp{
          grid-area: pic;
          font-size: 3em;
        }
        .uname{
          grid-area: name;
        }
        .tweetdate{
          grid-area: date;
        }
        .tweet{
          grid-area: tweet;
        }
        grid-template-areas: 
        "pic name date ."
        "pic tweet tweet ."
        ". tweet tweet .";
        
      }   
  }
}