@import './vars.scss';

html{
    .icon{
        width: 20px;
    }
    header{
        display: flex;
        padding-left: 20vw;
        h1 {
            color: $primaryc;
            font-family: 'Arista';
            margin:0;
        }
        .search {
            display: flex;
            justify-content: space-between;
            margin-left: 2vw;
            padding: .05em .5em;
            border: $borderlight;
            border-radius: 20px;
            width: 30vw;
            vertical-align: middle;
            &:focus-within{
                border: $borderblue;
                transition: $simpletrans;
                .icon{
                    path{
                        fill: $primaryc;
                    }
                }
                .button{
                    visibility: visible;
                    border: none;
                    border-radius: 20px;
                    color:white;
                    background-color: $primaryc;
                    transition: $simpletrans;
                    &:hover{
                        background-color: $hoverc;
                        transition: background-color ease .2s;
                    }
                }
            }
            label{
                display: inline-block;
                vertical-align: middle;
                .icon{
                    margin-top: 25%;
                }
            }
            input{
                border: none;
                width: 80%;
            }
            .button{
                visibility: hidden;
            }
        }
    }
    background-color: #fff;
    main{
        margin:5% 18%;
        border: $borderlight;
        .heading{
            display: flex;
            .iconcont{
                vertical-align: middle;
                .icon{
                    vertical-align: middle;
                }
            }
        }    
        
    }
}