@import url(//db.onlinewebfonts.com/c/ff7b55e6b1bbced22c1e9ca8ead91520?family=Arista);
@import './vars.scss';

body{
    background-color: #fff;
    font-family: 'Hind';
    .marked{
      font-weight: 700;
    }
    .light{
      color: $fontlight
    }
    h2, h3{
      font-family:'Muli';
      font-weight: 900;
    }
    input[type=checkbox]{
      display:none;
    }
    input[type=time]{
      margin-left: .5em;
      float: right;
    }
    .btn{
      border: none;
      border-radius: 20px;
      color:white;
      background-color: $primaryc;
      padding:.6em .8em;
      &:hover{
          background-color: $hoverc;
          transition: background-color ease .2s;
      }
    }
    .icon{
        width: 20px;
        
    }
    header{
        padding-top: 1em;
        display: flex;
        justify-content: center;
        // padding-left: 15vw;
        h1 {
            color: $primaryc;
            font-family: 'Arista';
            font-weight: 100;
            margin:0;
            font-size: 3em;
        }
        .search {
            display: flex;
            margin-top: auto;
            margin-bottom: auto;
            justify-content: space-between;
            margin-left: 2vw;
            height: 2.2em;
            padding: .05em 0 .05em .5em;
            border: $borderlight;
            border-radius: 20px;
            width: 40vw;
            vertical-align: middle;
            &:focus-within{
                border: $borderblue;
                transition: $simpletrans;
                .icon{
                    svg{
                        fill: $primaryc;
                    }
                }
                .btn-day{
                    visibility: visible;
                    transition: $simpletrans;
                }
            }
            label{
                display: inline-block;
                .icon{
                    margin-top: 35%;
                }
                line-height: 2.2em;
            }
            input{
              border: none;
              margin-left: 1em;
              margin-right: 1em;
              &.query{
                width: 70%;
              }
            }
            .btn-day{
                visibility: hidden;
            }
        }
    }
  main{
      margin:5% 24vw;
      .heading{
          display: flex;
          justify-content: space-between;
          border: $borderlight;
          padding:1em;
          >*{
            margin:0;
          }
          .iconcont{
              vertical-align: middle;
              margin-left: .5em;
              .icon{
                  vertical-align: middle;
                  transform: rotate(90deg);
              }
          }
          .filter{
            display: block;
            visibility:hidden;
            position:absolute;
            border: $borderlight;
            background-color: #fff;
            padding: 1em;
            transition: top $simpletrans;
            .btn{
              transition: none;
            }
          }
          #openfilters:checked + .filter {
            visibility:visible;
            right:24.6vw;
            margin-top: 2.9em;
            transition: $simpletrans;
          }
      }    
      .card{
        display:grid;
        grid-template-columns: auto 1fr 1fr;
        column-gap: 10px;
        border: $borderlight;
        border-top:none;
        text-align: left;
        padding: .5em;
        .upp{
          grid-area: pic;
          font-size: 2.5em;
          margin:0
        }
        .cardhead{
          grid-area: header;
          p{
            display: inline;
            margin-right:1em;
          }
        }
        .tweet{
          grid-area: tweet;
        }
        grid-template-areas: 
        "pic header header"
        "pic tweet tweet"
        ". tweet tweet";
        &.follower{
          grid-template-areas: 
          "pic header header";
          .cardhead{
            padding-top: 1em;
          }
        }       
      }   
  }
}