
@import url(//db.onlinewebfonts.com/c/d4358481c43110657b0393c2efad2f3a?family=Arista);
$primaryc: #1da1f2;
$hoverc: #0c72b1;
$fontlight: #eee; 
$borderlight: 1px solid black; //#eee;
$borderblue: 1px solid $primaryc; 
$simpletrans: all ease .2s;