@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;700&family=Muli:wght@900&display=swap');
$primaryc: #1da1f2;
$hoverc: #0c72b1;
$fontlight: #999; 
$borderlight: 1px solid rgb(183, 183, 183);
$borderblue: 1px solid $primaryc; 
$simpletrans: all ease .2s;