<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pet Shelter</title>
</head>

<body>
  <header>
    <h1>tweets from hell</h1>
    <div class='search'>
        <label for="search"><img class="icon" src="<%= require('./images/search.svg')%>" alt="search"></label>
        <input id="text" type="text" placeholder="wtf" name="search">
        <button class="btn-day">go</button>
    </div>
  </header>
  <main>
    <div class="heading">
        <h2>Querry hier</h2>
        <label class="iconcont" for="openfilters"><img class="icon" src="<%= require('./images/menu.svg')%>" alt="menu"></label>
        <input type="checkbox" id="openfilters">
        <div class="filter">
          Datum <br>
          <label>Von <br>
            <input type="time" step="1" name="von" id="from_date" value="00:00:00">
          </label>
          <label>Bis <br>
            <input type="time" step="1" name="bis" id="to_date" value="23:59:59">
          </label>
        </div>
    </div>
    <div class="tweetcard">
      <p class="upp">&#128579;</p>
      <p class="uname">some user</p>
      <p class="tweetdate">9.11.2016 12:30</p>
      <p class="tweet">So on edge... I'm gonna miss bush after this.</p>
    </div>
  </main>

  <h1>Pet Shelter</h1>
  <textarea id="text"></textarea>
  <div id="output"><h1>Ergebnisssssssssssssssse</h1></div>

  <div class="overview">
    <button class="btn btn-day">Most popular day</button>
  </div>


</body>

</html>
